
body {
    font-family: 'Itim', cursive;
    background-color: rgb(252, 244, 230);
    margin:0%;
}
img {
    max-width:50%;
    height: auto;
}
header a {
    text-decoration: none;
    color: #5F380A;
}

header a:hover {
    color: black;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #5F380A;
}

header p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    
}

header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.hero {
   display: flex;
   margin-left: 3%;
   align-items: center;
   margin-right: 3%;
   margin-top: 5%;
   gap: 10%;
}
.hero h2 {
margin: 0;
padding: 40px 10px;
font-size: 40pt;
text-align: left;
line-height: auto;
color: #5F380A;

}
.card {
    display: flex;
    margin-left: 5%;
    margin-top: 8%;
    align-items: center;
    gap: 6%;
}
.card img {
max-width: 50%;
margin-right: 0%
}
.card p {
 margin: 0;
padding: 40px 10px;
font-size: 20pt;
text-align: left;
line-height: auto;
}
.card1  {
    display: flex;
     
    gap: 2px;
     margin-top: 8%;

}
.card1 img  {
    max-width: 35%;
   
}
.card1 p {
    font-size: 15pt;
    text-align: center;
}
.card1 h3 {
    font-size: 17pt;
    color: #5F380A;
}

.card2  {
    display: flex;

     
    gap: 2px;
     margin-top: 8%;

}
.card2 img  {
    max-width: 35%;
   
}
.card2 p {
    font-size: 15pt;
    text-align: center;
}
.card2 h3 {
    font-size: 17pt;
    color: #5F380A;
}

.card3  {
    display: flex;
     
    gap: 2px;
     margin-top: 8%;

}
.card3 img  {
    max-width: 35%;
   
}
.card3 p {
    font-size: 15pt;
    text-align: center;
}
.card3 h3 {
    font-size: 17pt;
    color: #5F380A;
}

.card4  {
    display: flex;
    
     
    gap: 2px;
     margin-top: 8%;

}
.card4 img  {
    max-width: 35%;
    
   
}
.card4 p {
    font-size: 15pt;
    text-align: center;
    
    
}
.card4 h3 {
    font-size: 17pt;
    color: #5F380A;
    
}



footer {
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    
}
footer p {
    color: #5F380A;
    font-size: 30pt;
}
footer img {
    max-width: 50%;
}