
body {
    font-family: 'Itim', cursive;
    background-color: rgb(252, 244, 230);
    margin:0%;
}
img {
    max-width:100%;
    height: auto;
}
header a {
    text-decoration: none;
    color: #5F380A;
}

header a:hover {
    color: black;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #5F380A;
}

header p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    
}

header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.hero {
   display: flex;
   justify-content: space-evenly;
   padding-left: 20px;
   align-items: center;
   padding-right: 20px;
   padding-top: 60px;
   gap: 10%;
}
.hero h2 {
margin: 0;
padding: 40px 10px;
font-size: 40pt;
text-align: left;
line-height: auto;
color: #5F380A;

}
.card {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    align-items: center;
    gap: 6%;
}
.card img {
    width: fit-content;
    max-width: 50%;
    height: auto;


}
.card p {
 margin: 0;
padding: 40px 10px;
font-size: 20pt;
text-align: left;
line-height: auto;
}
.card1   {
    display: flex;
    justify-content: space-between;
     margin: 0%;
    padding-right: 20px;
     padding-top: 100px;
     

}
.card1 img  {
    max-width: 90%;
    width: fit-content;
    height: auto;
   
}
.card1 p {
    font-size: 15pt;
    text-align: center;
}
.card1 h3 {
    font-size: 17pt;
    color: #5F380A;
}
div.inghilterrat {
    text-align: center;
    padding-right: 100px;
    padding-top: 10px;

}
div.indiat {
    text-align: center;
}

.card2   {
    display: flex;
    justify-content: space-between;
     margin: 0%;
    padding-right: 20px;
     padding-top: 100px;
     

}
.card2 img  {
    max-width: 90%;
    width: fit-content;
    height: auto;
   
}
.card2 p {
    font-size: 15pt;
    text-align: center;
}
.card2 h3 {
    font-size: 17pt;
    color: #5F380A;
}
div.coreat {
    text-align: center;
    padding-right: 100px;
    padding-top: 10px;

}
div.messicot {
    text-align: center;
}

.card3   {
    display: flex;
    justify-content: space-between;
     margin: 0%;
    padding-right: 20px;
     padding-top: 100px;
     

}
.card3 img  {
    max-width: 90%;
    width: fit-content;
    height: auto;
   
}
.card3 p {
    font-size: 15pt;
    text-align: center;
}
.card3 h3 {
    font-size: 17pt;
    color: #5F380A;
}
div.maroccot {
    text-align: center;
    padding-right: 100px;
    padding-top: 10px;

}
div.hawaiit {
    text-align: center;
}

.card4   {
    display: flex;
    justify-content: space-between;
     margin: 0%;
    padding-right: 20px;
     padding-top: 100px;
     

}
.card4 img  {
    max-width: 90%;
    width: fit-content;
    height: auto;
   
}
.card4 p {
    font-size: 15pt;
    text-align: center;
}
.card4 h3 {
    font-size: 17pt;
    color: #5F380A;
}
div.sveziat {
    text-align: center;
    padding-right: 100px;
    padding-top: 10px;

}
div.franciat {
    text-align: center;
}



footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    
}
footer p {
    color: #5F380A;
    font-size: 30pt;
}
footer img {
    max-width: 50%;
    width: fit-content;
    height: auto;
}